body {
  background: #0e0e0e;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  background: red;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin: 20px 0;
}

#map {
  height: 350px;
  border-radius: 12px;
  margin-top: 15px;
}
