body { background: #0f0f0f; color: white; font-family: sans-serif; text-align: center; margin: 0; padding: 20px; }
input { width: 90%; padding: 12px; margin: 10px 0; border-radius: 8px; border: none; }
#accelBtn { background: #ff4d4d; color: white; padding: 15px; border: none; border-radius: 8px; width: 90%; font-weight: bold; cursor: pointer; }
#map { height: 300px; margin: 20px 0; border-radius: 12px; border: 1px solid #333; }
#status { font-weight: bold; color: #ffbc00; }
