body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 18px 35px;
  font-size: 22px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#status {
  margin: 15px 0;
}

iframe {
  border-radius: 10px;
  margin-top: 15px;
}
