body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0;
}

button:hover {
  background-color: #cc0000;
}

#status {
  margin: 10px 0;
  font-weight: bold;
}

#map {
  height: 400px;
  width: 90%;
  margin: 0 auto 20px auto;
  border-radius: 8px;
  border: 2px solid #fff;
}
