body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 15px;
}

h1 {
    color: red;
}

button {
    font-size: 20px;
    padding: 12px 25px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#map {
    width: 100%;
    height: 400px;   /* THIS IS CRITICAL */
    margin-top: 20px;
}
